<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout.ejs') %>
  <!-- handlebars templates -->
  <script id="harry-pot" type="text/x-handlebars-template">
      <section class="houseInfo" >
          <h2>Welcome to {{houseName}}</h2>
          <img class="shield" alt="{{icon}} house shield" src="{{icon}}">
          <p class="trait">The top trait of those in {{houseName}}, is {{trait}}</p>
          <p class="desc" id="{{houseName}}">{{description}}</p>
        </section>
    </script>

</head>

<body>
  <!-- Floating candles - will link to presentation <section> -->
  <div class="alwaysVisible"><img id="logo" src="https://media.giphy.com/media/51SNhLPRbhSIBmEPG5/giphy.gif"></div>
  <section id="section1">

    <!-- placeholders/proof of life -->
    <!-- <p>Heeey!</p>
  </section>

  <section id="section2">
    <p>HEEEY! 2</p>
  </section> -->

    <!-- homepage div -->
    <div id="homePage">
      <div id="hogwartsBackground">
        <div id="formWrapper">
          <h1>Application to Hogwarts</h1>
          <form id="applicationForm">
            <label> Your Name: </label>
            <input type="text" id="wizardName"><br><br>

            <p class="quizQuestion">What class are you most excited about?</p>
            <select name="favClass">
              <!-- <option value="0" disabled selected>Pick your favorite...</option> -->
              <option value="1">Defense Against the Dark Arts</option>
              <option value="2">Potions</option>
              <option value="3">Charms</option>
              <option value="4">Herbology</option>
            </select>
            <br><br>

            <p class="quizQuestion">For your first day, you'll need a companion animal. Which will you choose?</p>
            <select name="companionAnimal">
              <!-- <option value="0" disabled selected>Pick an animal...</option> -->
              <option value="1">Owl</option>
              <option value="2">Snake</option>
              <option value="3">Badger</option>
              <option value="4">Raven</option>
            </select>
            <br><br>

            <p class="quizQuestion">You're at Olivander's, what wand's core would choose you?</p>
            <select name="wandType">
              <!-- <option value="0" disabled selected>Pick a wand core...</option> -->
              <option value="1">Dragon Heartstring</option>
              <option value="2">White River Monster Spine</option>
              <option value="3">Snallygaster heartstring</option>
              <option value="4">Troll Whisker</option>
            </select>
            <br><br>


            <p class="quizQuestion">It's your birthday and you've received a magical gift via Owl Post. What is it?</p>
            <select name="gift">
              <!-- <option value="0" disabled selected>Pick a gift...</option> -->
              <option value="1">A hand-knit sweater with your first initial on the front</option>
              <option value="2">Marauder's Map</option>
              <option value="3">A Rememberal</option>
              <option value="4">A Mature Potted Mandrake</option>
            </select>
            <br><br>

            <p class="quizQuestion">What book would you check out for a bit of light reading?</p>
            <select name="book">
              <!-- <option value="0" disabled selected>Pick a book...</option> -->
              <option value="1">Self Defense Spellbook</option>
              <option value="2">Secrets of the Darkest Arts</option>
              <option value="3">Fantastic Beasts</option>
              <option value="4">Tales of Beedle the Bard</option>
            </select>
            <br><br>

            <button type="submit" value="submit" id="expectoApplyo">Expecto Applyo</button>
          </form>
        </div>
      </div>
    </div>




    <div id="showHouse">
      <div id="hallBackgroundTWO">
        <div class="weatherContainer"></div>
        <div id="hallWrapper">
          <h1>You've been sorted!</h1>
          <button type="submit" value="submit" id="patronusButton"> Show patronus</button>

          <article id="houseHarry">
          </article>
          <section>
            <div id="hallBackground">
              <!-- holds house house info, -->
              <!-- friends,  -->
              <!-- twoFoes, -->
              <!-- weather -->
            </div>

          </section>
        </div>
      </div>
    </div>


    <div id="showPatronus">
      <p> some randome string.</p>
      <div id="patronusContainer"> </div>
    </div>


</body>
<footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
  <script src="./js/api.js"></script>
</footer>

</html>