<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title><strong>What?!</strong></title>

  <script id="harry-pot" type="text/x-handlebars-template">
<section>
  <!-- <h2>{{icon}}</h2> -->
  <p>{{summary}}</p>
</section>
  </script>
</head>

<body>
  <section id="section1">
    <p>Heeey!</p>
  </section>

  <section id="section2">
    <p>HEEEY! 2</p>
  </section>


  <div id="homePage">
    <div id="hogwartsBackground">
      <div id="formWrapper">
        <h1>Application to Hogwarts</h1>
        <form id="applicationForm">
          <label> Your Name: </label>
          <input type="text" id="wizardName">

          <p>What class are you most exicted about?</p>
          <select name="favClass">
            <option value="0" disabled selected>Select your option</option>
            <option value="1">Defense Against the Dark Arts</option>
            <option value="2">Potions</option>
            <option value="3">Charms</option>
            <option value="4">Herbology</option>
          </select>

          <p>For your first day, you'll need a companion animal. Which will you choose?</p>
          <select name="companionAnimal">
            <option value="1">Owl</option>
            <option value="2">Snake</option>
            <option value="3">Badger</option>
            <option value="4">Raven</option>
          </select>

          <p>You're at Olivander's, what wand's core would choose you?</p>
          <select name="wandType">
            <option value="1">Dragon Heartstring</option>
            <option value="2">White River Monster Spine</option>
            <option value="3">Snallygaster heartstring</option>
            <option value="4">Troll Whisker</option>
          </select>


          <p>It's your birthday and you've received a magical gift via Owl Post. What is it?</p>
          <select name="gift">
            <option value="1">A hand-knit sweater w/ your first initial sewn on the front</option>
            <option value="2">Marauder's Map</option>
            <option value="3">A Rememberal</option>
            <option value="4">A mature potter Mandrake</option>
          </select>

          <p>What book would you check out for a bit of light reading?</p>
          <select name="book">
            <option value="1">Self Defense Spellbook</option>
            <option value="2">Secrets of the Darkest Arts.</option>
            <option value="3">Fantastic Beasts</option>
            <option value="4">Tales of Beedle the Bard</option>
          </select>

          <button type="submit" value="submit" id="expectoApplyo">Expecto Applyo</button>
        </form>
      </div>
    </div>
  </div>
  <article id="house-Harry">

  </article>



</body>
<footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
  <script src="./js/api.js"></script>
</footer>

</html>