
<title>gitSorted</title>


<link rel="icon" href="https://toppng.com/public/uploads/preview/black-lightning-bolt-11549724236aueeuqvoqu.png" type="image/gif" sizes="16x16">

<link href="https://fonts.googleapis.com/css?family=Jolly+Lodger" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ABeeZee|Abril+Fatface&display=swap" rel="stylesheet">

<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/base.css">
<link rel="stylesheet" href="./css/sortedPage/base.css">
<link rel="stylesheet" href="./css/sortedPage/weather.css">
<link rel="stylesheet" href="./css/homePage/base.css">
<link rel="stylesheet" href="./css/partronusPage/base.css">
<link rel="stylesheet" href="./css/presentationPage/base.css">